:root {
  --color-accent: #ec7160;
  --color-accent-hover: #d82600;
  --color-light-gray-1: #898989; /*noteFontColor/dateColor/notesListButton of note in note list/text/icon of searchInputField / adding note input field label's color*/
  --color-light-gray-2: #e7e7e9; /*notesListButtonBorder*/
  --color-light-gray-3: #f6f6f6; /*noteList bg-color / hover on note in notes list / adding note inputField bg-color*/
  --color-medium-gray-1: #303030; /*noteHeadingColor / menuButtonColor in mobile query*/
  --color-white: #fff;

  --fw-4: 400;

  --gutter-10: 10px;

  --transition-timing: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

#app {
  height: 100vh;
  display: flex;
}

.notes__sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-light-gray-3);
  padding: 3rem 1.5rem;
}

.notes__heading {
  font-family: "Aclonica", sans-serif;
  font-size: 1.5rem;
  color: var(--color-accent);
}

.notes__search-label {
  position: relative;
}

.notes__search-icon {
  width: 20px;
  margin-inline-start: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-light-gray-1);
  cursor: auto;
}

.notes__search-input {
  width: 100%;
  padding: 5px 20px 5px 28px;
  border: none;
  border-radius: 6px;
}

.notes__search-input::placeholder {
  color: var(--color-light-gray-1);
}

.notes__labels {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#notes__notes-label,
#notes__add-notes-label {
  appearance: none;
}

.notes__side-label {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 3px 15px;
  color: var(--color-light-gray-1);
  cursor: pointer;
}

.notes__side-label:hover {
  color: var(--color-medium-gray-1);
}

#notes__notes-label:checked + label,
#notes__add-notes-label:checked + label {
  font-weight: 600;
  color: var(--color-medium-gray-1);
  border-inline-start: 3px solid red;
}

/* ========== Notes List ========== */
.notes__list {
  position: relative;
  width: 20%;
  border-inline-end: 1px solid var(--color-light-gray-2);
  /* padding: 35px 0;
  border-inline-end: 1px solid var(--color-light-gray-2);
  overflow-y: scroll;
  scrollbar-width: none; */
  /* scrollbar-width: thin; */
  /* scrollbar-color: var(--color-accent) #fff; */
}
/* .notes__list::-webkit-scrollbar {
  width: 16px;
}
.notes-list::-webkit-scrollbar-track {
  background-color: red;
  border-radius: 50px;
}
.notes__list::-webkit-scrollbar-thumb {

} */
.notes__arrow-icon {
  position: absolute;
  right: -14px;
  top: 80px;
  width: 28px;
  cursor: pointer;
}
.notes__container {
  padding: 35px 0;
  /* overflow-y: hidden; */
  /* scrollbar-width: none; */
}
.notes__pinned-flag {
  display: block;
  padding-inline-start: var(--gutter-10);
  font-size: 1.4rem;
  font-weight: var(--fw-4);
  color: var(--color-accent);
  text-transform: uppercase;
}
.notes__notes-flag {
  display: block;
  border-top: 1px solid var(--color-light-gray-2);
  border-bottom: 1px solid var(--color-light-gray-2);
  padding: var(--gutter-10);
  color: var(--color-accent);
}
.notes__pinned-flag,
.notes__notes-flag {
  padding-inline-start: 25px;
}
.notes__notes-list,
.notes__pinned-list {
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.notes__note-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 10px 10px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;

  .notes__note-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-medium-gray-1);
  }

  .notes__note-body {
    font-size: 1.5rem;
    line-height: 17px;
    color: var(--color-light-gray-1);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .notes__note-footer {
    display: flex;
    justify-content: space-between;

    .notes__note-updated {
      color: var(--color-light-gray-1);
      font-size: 1.2rem;
    }

    .notes__note-delete {
      all: unset;
      color: var(--color-accent);
      cursor: pointer;
      transition: var(--transition-timing);
    }

    .notes__note-delete:hover {
      color: var(--color-accent-hover);
    }
  }
}

.notes__note-item:hover {
  background-color: var(--color-light-gray-3);
}
