:root {
  --color-accent: #ec7160;
  --color-accent-hover: #d82600;
  --color-light-gray-1: #898989; /*noteFontColor/dateColor/notesListButton of note in note list/text/icon of searchInputField / adding note input field label's color*/
  --color-light-gray-2: #e7e7e9; /*notesListButtonBorder*/
  --color-light-gray-3: #f6f6f6; /*noteList bg-color / hover on note in notes list / adding note inputField bg-color*/
  --color-medium-gray-1: #303030; /*noteHeadingColor / menuButtonColor in mobile query*/
  --color-white: #fff;

  --fw-4: 400;

  --border-rad-6: 6px;
  --gutter-10: 10px;

  --transition-timing: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

#app {
  height: 100vh;
  display: flex;
}

.notes__sidebar {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-light-gray-3);
  padding: 3rem 1.5rem;
}

.notes__heading {
  font-family: "Aclonica", sans-serif;
  font-size: 1.5rem;
  color: var(--color-accent);
}

.notes__search-label {
  position: relative;
}

.notes__search-icon {
  width: 20px;
  margin-inline-start: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-light-gray-1);
  cursor: auto;
}

.notes__search-input {
  width: 100%;
  padding: 5px 20px 5px 28px;
  border: none;
  border-radius: var(--border-rad-6);
}

.notes__search-input::placeholder {
  color: var(--color-light-gray-1);
}

.notes__labels {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.notes__notes-label:checked .notes__list {
  opacity: 1;
}

#notes__notes-label,
#notes__add-notes-label {
  appearance: none;
}

.notes__side-label {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 3px 15px;
  color: var(--color-light-gray-1);
  cursor: pointer;
}

.notes__side-label:hover {
  color: var(--color-medium-gray-1);
}

#notes__notes-label:checked + label,
#notes__add-notes-label:checked + label {
  font-weight: 600;
  color: var(--color-medium-gray-1);
  border-inline-start: 3px solid red;
}

/* ========== Notes List ========== */
.notes__list {
  /* display: none; */
  /* opacity: 0; */
  position: relative;
  padding: 35px 0;
  width: 20%;
  border-inline-end: 1px solid var(--color-light-gray-2);
  overflow-y: scroll;
  scrollbar-width: none;
  /*
  border-inline-end: 1px solid var(--color-light-gray-2);
  overflow-y: scroll;
  scrollbar-width: none; */
  /* scrollbar-width: thin; */
  /* scrollbar-color: var(--color-accent) #fff; */
}
/* .notes__list::-webkit-scrollbar {
  width: 16px;
}
.notes-list::-webkit-scrollbar-track {
  background-color: red;
  border-radius: 50px;
}
.notes__list::-webkit-scrollbar-thumb {

} */
.notes__pinned-flag {
  display: block;
  padding-inline-start: var(--gutter-10);
  font-size: 1.4rem;
  font-weight: var(--fw-4);
  color: var(--color-accent);
  text-transform: uppercase;
}
.notes__notes-flag {
  display: block;
  border-top: 1px solid var(--color-light-gray-2);
  border-bottom: 1px solid var(--color-light-gray-2);
  padding: var(--gutter-10);
  color: var(--color-accent);
}
.notes__pinned-flag,
.notes__notes-flag {
  padding-inline-start: 25px;
  user-select: none;
}
.notes__notes-list,
.notes__pinned-list {
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.notes__note-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 10px 10px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;

  .notes__note-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-medium-gray-1);
  }

  .notes__note-body {
    font-size: 1.5rem;
    line-height: 17px;
    color: var(--color-light-gray-1);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .notes__note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .notes__note-updated {
      font-size: 1.2rem;
      color: var(--color-light-gray-1);
      user-select: none;
    }

    .notes__note-delete {
      all: unset;
      color: var(--color-accent);
      cursor: pointer;
      transition: var(--transition-timing);
    }

    .notes__note-delete:hover {
      color: var(--color-accent-hover);
    }
  }
}
.notes__note-item:hover {
  background-color: var(--color-light-gray-3);
}

.notes__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;

  .notes__add-note {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;

    .notes__add-note-heading {
      font-weight: 600;
      font-size: 2rem;
    }
    .notes__note-fields {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      label {
        color: var(--color-light-gray-1);
        margin-top: var(--gutter-10);
      }
      input[type="text"],
      textarea {
        padding: var(--gutter-10);
        background-color: var(--color-light-gray-3);
        border: none;
        border-radius: var(--border-rad-6);
        transition: var(--transition-timing);
      }
      input[type="text"]:focus {
        outline: none;
        border-bottom: 1px solid var(--color-accent);
      }
      textarea {
        width: 100%;
        height: 150px;
        resize: none;
      }
      textarea:focus {
        outline: none;
        border-bottom: 1px solid var(--color-accent);
      }
    }

    .notes__note-adding-buttons {
      display: flex;
      justify-content: start;
      gap: 25px;

      button {
        border: none;
        border-radius: var(--border-rad-6);
        padding: var(--gutter-10) calc(var(--gutter-10) * 2);
        color: var(--color-white);
        background-color: var(--color-accent);
        cursor: pointer;
        transition: var(--transition-timing);
      }
      button:hover {
        background-color: var(--color-accent-hover);
      }
    }
  }
}
